.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
width: 800px;
height: 400px;
}

.ex-3-square:hover {
border-radius: 50px;
}

.ex-3-square:hover {
    transition-timing-function: linear;
    transition: 2s;   
}

.ex-4-square:hover {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square:hover {
width: 80px;
height: 80px;
}

.ex-5-square:hover {
    transition: 2s;
}

.ex-5-square:active {
width: 30px;
height: 30px;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img:hover {
    filter:hue-rotate(46deg)
}

.ex-7-img:hover {
    transform:blur(20px)
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.ex-7-img:hover {
    transition: 2s;
}

.ex-8-img:hover {
    filter: brightness(200%);
    transform: rotate(180deg);
    border-radius: 25px;
}

.ex-8-img:hover {
    transition: 2s;
}

.ex-9-img:hover {
    filter: contrast(200%) grayscale(.3)
}

.ex-9-img:hover {
    border-radius: 25px;
    transform: scale(50%);
    transition: 3s;
}

.ex-10-icon {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover {
    animation: spin-un-po 2s;
}

@keyframes spin-un-po {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(225deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.ex-12-button {
    animation: wobble 2s ease infinite;

}

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        transform: translateX(20%) rotate(3deg);
    }

    45% {
        transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        transform: translateX(10%) rotate(2deg);
    }

    75% {
        transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        transform: translateX(0%);
    }
}

.ex-13-button {

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }

 }